ul{
    display: inline-block;
    list-style:none;  
}

ul li {
    background-color:#eeee;
    border: 1px solid #000000;
    border-radius: 3px;
    color:#7B8585;
    display: inline-block;
    font-size: 16px;
    padding: 10px 10px;
    justify-content: space-between;

}

ul li:hover {
    background-color: #A0D2E9;
    cursor: pointer;
    padding: 10px 20px;
    transition: 0.5s;
}

.menu{
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);
}

.navItem {
    border-bottom: none;
    color: #000000;
    display: flex;
    flex-direction: row;
}