:root {
    --primary: #1290cb;
    --secondary: #59b2dc;
    --tertiary: #cfeaf5;
    --greyfont: #898989;
    --white: #fff;
  }


.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: hsl(0, 66%, 89%);
}